{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ApplicationSettings": {
    "DBSettings": {
      "Server": "YOUR_LOCAL_SQL_SERVER_INSTANCE",
      "Database": "Proton_Admin",
      "UserId": "",
      "Password": ""
    },
    "PublicSiteOrigins": [ "http://localhost:5173" ]
  }
}
